page-login {
   .content{
    background-color: #edf9fc;
    //    background: url("/assets/imgs/window.jpg");
    //     background-repeat: no-repeat;
    //    background-size: 177%;
	// 	position: relative;
	
   } 


   .items{
	   background-color: transparent;
   }

*{
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	
	font-weight: 300;
}

body{
	font-family: 'Source Sans Pro', sans-serif;
	color: white;
	font-weight: 300;
	
	::-webkit-input-placeholder { /* WebKit browsers */
		font-family: 'Source Sans Pro', sans-serif;
			color:    white;
		font-weight: 300;
	}
	:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
		font-family: 'Source Sans Pro', sans-serif;
		 color:    white;
		 opacity:  1;
		font-weight: 300;
	}
	::-moz-placeholder { /* Mozilla Firefox 19+ */
		font-family: 'Source Sans Pro', sans-serif;
		 color:    white;
		 opacity:  1;
		font-weight: 300;
	}
	:-ms-input-placeholder { /* Internet Explorer 10+ */
		font-family: 'Source Sans Pro', sans-serif;
		 color:    white;
		font-weight: 300;
	}
}

.wrapper{
    background:rgba(70, 70, 70, 0.9);

	position: absolute;
	top: 50%;
	// left: 0;
	width: 75%;
	height: 500px;
	margin-top: -250px;
	 margin-left: 160px;
	// margin-right: 80px;
	overflow: hidden;
	
	&.form-success{
		.container{
			h1{
				transform: translateY(85px);
				
			}
		}
	}
}

.container{
  width: 500px;
	margin: 0 auto;
	padding: 80px 0;
	// height: 400px;
	text-align: center;
	
	h1{
		font-size: 40px;
		transition-duration: 1s;
		transition-timing-function: ease-in-put;
        font-weight: 200;
		color: #005792;
		font-family: Arial, Helvetica, sans-serif;
	}

	p{
		font-size:17px;
	}
}

form{
   
	padding: 20px 0;
	position: relative;
	z-index: 2;
	
	input{
		display: block;
		appearance: none;
		outline: 0;
		 border: 1px solid fade(#005792, 40%);
		 background-color: fade(white, 20%);
		width: 250px;
		
		border-radius: 10px;
		padding: 10px 15px;
		margin: 0 auto 10px auto;
		display: block;
		text-align: center;
		font-size: 18px;
		
		// color: white;
		
		transition-duration: 0.25s;
		font-weight: 300;
		
		&:hover{
			// background-color: fade(white, 40%);
		}
		
		&:focus{
			// background-color: white;
			width: 300px;
			
			color: black;
		}
	}
	
	button{
		appearance: none;
		outline: 0;
		background-color: #005792;
		border: 0;
		padding: 10px 15px;
		color: white;
		border-radius: 10px;
		width: 250px;
		cursor: pointer;
		font-size: 18px;
		transition-duration: 0.25s;
		
		&:hover{
			background-color: #53cde2;
		}
	}
}

@-webkit-keyframes square {
  0%   { transform: translateY(0); }
  100% { transform: translateY(-700px) rotate(600deg); }
}
@keyframes square {
  0%   { transform: translateY(0); }
  100% { transform: translateY(-700px) rotate(600deg); }
}
}
