<ion-header>
  <ion-navbar>
      <button ion-button menuToggle>
          <ion-icon name="menu"></ion-icon>
        </button>
    <ion-title color="primary" text-center>
        Dashboard
    </ion-title>
    <ion-buttons outline end> 
      <button color="primary" ion-button>
        Sign in
      </button>
      <button color="primary" ion-button>
        Sign up
      </button> 
      <!-- <button color="primary" ion-button (click)="changeTap()">
          TAP
        </button> 
        <button color="primary" ion-button (click)=" changeTruck()">
            TRUCK
          </button> 
      </ion-buttons> -->
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content padding class="content">

    <!-- <button ion-button outline large   color="primary" (click)="changeTap()" >TAP</button>
    <button ion-button outline large  color="primary" (click)=" changeTruck()">TRUCK</button> -->


 
          <!-- <div  *ngIf="isTap" text-center>
          

                <ion-row class="row header" text-center>       
                    <ion-card class="card"><ion-col col-3>Time</ion-col></ion-card>
                    <ion-card class="card"><ion-col col-3>Reliable</ion-col></ion-card>
                    <ion-card class="card"><ion-col col-3>safety</ion-col></ion-card>
                    <ion-card class="card"><ion-col col-3>Action</ion-col></ion-card>
                    </ion-row>
         
                  
            
                <ion-row *ngFor="let tap of listTaps;let i=index" text-center>
                   
                 <ion-card class="card"><ion-col col-3>{{tap.time}}</ion-col></ion-card>
                 
                  <ion-card class="card"><ion-col col-3>{{tap.reliable}}</ion-col></ion-card>
               
                <ion-card class="card"><ion-col col-3>{{tap.safety}}</ion-col></ion-card>
                  
                     
            

            <ion-col col-1.5><button ion-button clear item-end icon-start color="dark" id="ActionButton" (click)="updateTap(tap.key)" ><ion-icon name="create"></ion-icon></button></ion-col>
        
             <ion-col col-1.5><button ion-button clear item-end icon-start color="danger"   id="ActionButton" (click)="deleteTaps(tap.key)"><ion-icon name="trash" color="danger"></ion-icon></button></ion-col>
           
            </ion-row>
                
              </div>

              <div *ngIf="isTruck" text-center>
                  
                      <ion-row class="row header" text-center>
                        
                          <ion-col col-3>Time</ion-col>
                          <ion-col col-3>liters</ion-col>
                          <ion-col col-3>Reliable</ion-col>
                          <ion-col col-3>Number of days</ion-col>
                          <ion-col col-3>Action</ion-col>
                          <ion-col col-2>Delete</ion-col>
                      </ion-row>
                      <ion-row *ngFor="let truck of listTrucks;let i=index" text-center>
                        <ion-col col-3>{{truck.time}}</ion-col>
                        <ion-col col-3>{{truck.liters}}</ion-col>
                        <ion-col col-3>{{truck.reliable}}</ion-col>
                        <ion-col col-3>{{truck.days}}</ion-col>
                        <ion-col col-3><button ion-button outline item-end icon-start color="dark" (click)="updateTruck(truck.key)"><ion-icon name="create"></ion-icon></button></ion-col>
                        <ion-col col-3><button ion-button outline item-end icon-start color="danger" (click)="deleteTruk(truck.key)"><ion-icon name="trash" color="danger"></ion-icon></button></ion-col>
                      </ion-row>
                 
              </div>  -->
           
           
       
         
       

            <div id="map"></div>

        




  

  
</ion-content>
