<ion-header>
  <ion-navbar color="dark">
    <ion-buttons end>
      <button ion-button outline large   color="primary" (click)="changeTap()" >Taps</button>
      <button ion-button outline large  color="danger" (click)="changeTruck()">Trucks</button> 
      <button ion-button outline large  color="light" (click)="logout()">Sign out</button> 
    </ion-buttons>
    <ion-title color="primary" text-center>
        WaterService
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding class="content">
  <div id="map"></div>
  <div text-center class="containers">

      <ion-row>
        <ion-col col-7>
          <div class="heade">
            <div *ngIf="!isSearchbarOpened" >
              <ion-row class="coll">
                  <ion-col col-11 >
                    <h2>{{name}}</h2>
                  </ion-col>

                  <ion-col col-1 class="set" >
                <ion-buttons end>
              <button ion-button  color="dark" icon-only *ngIf="!isSearchbarOpened" (click)="isSearchbarOpened=true">
              <ion-icon name="search"></ion-icon>
                </button>
                </ion-buttons>
                  </ion-col>
                </ion-row>
            </div>
            <div *ngIf="isSearchbarOpened">
              <ion-searchbar [(ngModel)]="searchstring" (input)="searchDJ($event)" *ngIf="isSearchbarOpened" palceholder="Search for a tap by ID" showCancelButton="true" (ionCancel)="isSearchbarOpened=false"></ion-searchbar>
            </div>
          </div>

          <br>
            <ul class="items-holder">
                <li class="item">
                    <div  *ngIf="isTap" text-center>
                        <div *ngIf="isSearchbarOpened" text-center>
                          <div *ngIf="searchstring!==''|| searchstring==''">
                            <ion-row class="row header" text-center>       
                                <ion-col col-2>ID</ion-col>
                                <ion-col col-2>Time</ion-col>
                                <ion-col col-2>Reliable</ion-col>
                                <ion-col col-2>safety</ion-col>
                                 <ion-col col-4>Action</ion-col>
                              </ion-row>

                              
                              <ion-row class="info" *ngFor="let tap of filteredtaps;let i=index" text-center>
                                <ion-col col-2>{{tap.id}}</ion-col>
                                <ion-col col-2>{{tap.time}}</ion-col>
                                <ion-col col-2>{{tap.reliable}}</ion-col>
                                <ion-col col-2>{{tap.safety}}</ion-col>
                                 <ion-col col-2><button ion-button outline color="dark" (click)="updateTap(tap.key)" >update</button></ion-col>
                                <ion-col col-2><button ion-button outline color="danger" (click)="deleteTaps(tap.key)">delete</button></ion-col> 
                            </ion-row>
                          </div>  
                         
                        </div>
                        <div *ngIf="!isSearchbarOpened">
                          <ion-row class="row header" text-center>       
                              <ion-col col-2>ID</ion-col>
                              <ion-col col-2>Time</ion-col>
                              <ion-col col-2>Reliable</ion-col>
                              <ion-col col-2>Safety</ion-col>
                              <ion-col col-4>Action</ion-col>
                            </ion-row>
                            <ion-row class="info" *ngFor="let tap of listTaps;let i=index" text-center>
                              <ion-col col-2>{{tap.id}}</ion-col>
                              <ion-col col-2>{{tap.time}}</ion-col>
                              <ion-col col-2>{{tap.reliable}}</ion-col>
                              <ion-col col-2>{{tap.safety}}</ion-col>
                              <ion-col col-2><button ion-button outline color="dark" (click)="updateTap(tap.key)" >update</button></ion-col>
                              <ion-col col-2><button ion-button outline color="danger" (click)="deleteTaps(tap.key)">delete</button></ion-col>
                            </ion-row>
                        </div>
                      </div>
                      <div *ngIf="isTruck" text-center>
                        <ion-row class="row header" text-center>
                            <ion-col col-1>ID</ion-col>
                            <ion-col col-2>Time</ion-col>
                            <ion-col col-2>liters</ion-col>
                            <ion-col col-2>Reliable</ion-col>
                            <ion-col col-1>Number of days</ion-col>
                            <ion-col col-4>Delete</ion-col>
                        </ion-row>
                        <ion-row class="info" *ngFor="let truck of listTrucks;let i=index" text-center>
                          <ion-col col-1>{{truck.id}}</ion-col>
                          <ion-col col-2>{{truck.time}}</ion-col>
                          <ion-col col-2>{{truck.liters}}</ion-col>
                          <ion-col col-2>{{truck.reliable}}</ion-col>
                          <ion-col col-1>{{truck.days}}</ion-col>
                          <ion-col col-2><button ion-button outline item-end icon-start color="dark" (click)="updateTruck(truck.key)">Update</button></ion-col>
                          <ion-col col-2><button ion-button outline item-end icon-start color="danger" (click)="deleteTruk(truck.key)">Delete</button></ion-col>
                        </ion-row>
                      </div>
                </li>
              </ul>
        </ion-col>
        <ion-col col-5>
            <h2>WaterService Charts</h2>
            <div>
              <br>
                <div class="charts" style="display: block">
                  <canvas baseChart height="20" width="50"
                          [datasets]="barChartData"
                          [labels]="barChartLabels"
                          [options]="barChartOptions"
                          [legend]="barChartLegend"
                          [chartType]="barChartType"
                          (chartHover)="chartHovered($event)"
                          (chartClick)="chartClicked($event)"></canvas>
                </div>
              </div>  
        </ion-col>
      </ion-row>
</div>
</ion-content>
