<!--
  Generated template for the SignupPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title></ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding class="content">
<div class="wrapper">
<div class="container">

<h2 align="center">Create Account</h2>   

   <form [formGroup]="userForm" class="form" (ngSubmit)="signUp()" novalidate>
 
       <ion-item no-lines  class="items" [ngClass]="{'error-border':!userForm.get('firstName').valid && userForm.get('firstName').touched}">
        <input type="text" formControlName="firstName" Form placeholder="firstName">
      
       </ion-item>
 
      
      <p ion-text color="danger" *ngIf="userForm.get('firstName').hasError('required') && userForm.get('firstName').touched" class="invalid">First Name field is required!</p>
       
      <p ion-text color="danger" *ngIf="userForm.get('firstName').hasError('minlength') && userForm.get('firstName').touched" class="invalid">Enter a valid First Name with 3 or more characters!</p>
      
      <p ion-text color="danger" *ngIf="userForm.get('firstName').hasError('pattern') && userForm.get('firstName').touched" class="invalid">First Name can only take letters!</p>
      
 
 
       <ion-item no-lines  class="items" [ngClass]="{'error-border':!userForm.get('lastName').valid && userForm.get('lastName').touched}">
       <input type="text" formControlName="lastName"  Form placeholder="lastName" >
       </ion-item>
 
       
      <p ion-text color="danger" *ngIf="userForm.get('lastName').hasError('required') && userForm.get('lastName').touched" class="invalid">Last Name field is required!</p>
       
      <p ion-text color="danger" *ngIf="userForm.get('lastName').hasError('minlength') && userForm.get('lastName').touched" class="invalid">Enter a valid Last Name with 3 or more characters!</p>
       
      <p ion-text color="danger" *ngIf="userForm.get('lastName').hasError('pattern') && userForm.get('lastName').touched" class="invalid">Last Name can only take letters!</p>
       
 
 
       <ion-item no-lines class="items" [ngClass]="{'error-border':!userForm.get('email').valid && userForm.get('email').touched}">
       <input formControlName="email" type="email"  Form placeholder="email"> 
       </ion-item>
 
      <p ion-text color="danger" *ngIf="userForm.get('email').hasError('required') && userForm.get('email').touched" class="invalid">Email field is required!</p>
       
      <p ion-text color="danger" *ngIf="userForm.get('email').hasError('pattern') && userForm.get('email').touched" class="invalid">* Enter valid Email!</p>
       
 
 
 
       <ion-item no-lines class="items" [ngClass]="{'error-border':!userForm.get('password').valid && userForm.get('password').touched}">
       <input formControlName="password" type="password" Form placeholder="password">
       </ion-item>
 
       <p ion-text color="danger" *ngIf="userForm.get('password').hasError('required') && userForm.get('password').touched" class="invalid">Password is required!</p>
       
       <p ion-text color="danger" *ngIf="userForm.get('password').hasError('minlength') && userForm.get('password').touched" class="invalid"> Password minimum length is 6!</p>
      
 
       <ion-item no-lines class="items" [ngClass]="{'error-border':!userForm.get('confirm').valid && userForm.get('confirm').touched}">
        <input formControlName="confirm" type="password" Form placeholder="confirm">
       </ion-item>
 
       <p ion-text color="danger" *ngIf="userForm.get('confirm').hasError('minlength') && userForm.get('confirm').touched" class="invalid">Confirm password minimum length is 6!</p>
       
       <p ion-text color="danger" *ngIf="userForm.get('confirm').hasError('required') && userForm.get('confirm').touched" class="invalid">* Confirm password is required</p>
      
      <p ion-text color="danger" *ngIf="userForm.get('confirm').hasError('equalTo') && userForm.get('confirm').touched" class="invalid">Password does not match</p>
    
      <br/>
 
       <div padding text-center>
           <button type="submit" id="button" [disabled]="!userForm.valid">Register</button>
       </div>
       
       <div  style="text-align:center" padding>
         <p style="color:#66bfbf" class="p">Or, <a style="color:#005794"(click)="gotosignin()">Log in</a></p>
      </div>

   </form>
 
 </div>
 </div>
 </ion-content>